<div class="todo">
  <app-menu></app-menu>

  <div class="container d-flex justify-content-center align-items-center w-25  bg-light">

    <form action="" class="p-2 " [formGroup]="formRegistrar">
     <div class="row m-2">
       <div class="col-md-12 ">
         <h3>Registrar Tarea</h3>
       </div>
     </div>
     <div class="row mt-5">
       <mat-form-field class="col-md-12">
         <mat-label>Nombre</mat-label>
        <input  matInput   [(ngModel)] ="objtarea.nombre" formControlName="validaNombre" >
        <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaNombre.touched" >
         <span *ngIf="formRegistrar.controls.validaNombre.hasError('required')" >
             Ingrese Nombre
         </span>
     </mat-hint>
     </mat-form-field>
     </div>
     <div class="row mt-4">
       <mat-form-field class="col-md-12">
         <mat-label>Descripción</mat-label>
         <input  matInput [(ngModel)] ="objtarea.descripcion" formControlName="validaDescripcion"   >
         <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDescripcion.touched">
           <span *ngIf="formRegistrar.controls.validaDescripcion.hasError('required')" >
               Ingrese su Descripción
           </span>
       </mat-hint>
     </mat-form-field>
   </div>
     <div class="row mt-4">
      <mat-form-field class="col-md-12">
        <mat-label>Fecha de Vencimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)] ="objtarea.fechaVencimiento" formControlName="validaVencimiento"  >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaVencimiento.touched">
          <span *ngIf="formRegistrar.controls.validaVencimiento.hasError('required')">
              fecha de vencimiento es requerida
          </span>

      </mat-hint>
    </mat-form-field>
   </div>
     <div class="row mt-4">
       <mat-form-field class="col-md-12">
         <mat-label>Prioridad</mat-label>
         <mat-select [(ngModel)]="objtarea.prioridad" formControlName="validaprioridad" >
          <mat-option value="-1"> [Seleccione] </mat-option>
          <mat-option *ngFor="let x of prioridad" [value]="x">
              {{x}}
          </mat-option>
      </mat-select>
         <mat-hint style="color: red;"  *ngIf="formRegistrar.controls.validaprioridad.touched">
           <span *ngIf="formRegistrar.controls.validaprioridad.hasError('min')" >
               Ingrese su Prioridad
           </span>
       </mat-hint>
     </mat-form-field>
   </div>

     <div class="row mt-4">
       <mat-form-field class="col-md-12">
         <mat-label>Proyecto</mat-label>
         <mat-select *ngIf="objtarea.proyecto" [(ngModel)]="objtarea.proyecto.idProyecto"   formControlName="validaProyecto" >
          <mat-option value="-1"> [Seleccione] </mat-option>
          <mat-option *ngFor="let x of lstProyecto" [value]="x.idProyecto">
              {{x.nombre}}
          </mat-option>
      </mat-select>
         <mat-hint style="color: red;"  *ngIf="formRegistrar.controls.validaProyecto.touched">
           <span *ngIf="formRegistrar.controls.validaProyecto.hasError('min')" >
               Seleccione un Proyecto
           </span>
       </mat-hint>
     </mat-form-field>
   </div>
     <div class="row m-3">
       <div class="col-12 text-center m-1">
         <button mat-flat-button color="warn" class="my-class" [disabled]="formRegistrar.invalid" (click)="registra()">Registrar</button>
       </div>
     </div>
   </form>

</div>


</div>
