.todo{
  min-height: 100vh;
  width: 100%;
  background-image: url('../../../assets/fondo.jpg');
  background-position: center;
  background-size: cover;
}




.container h3{
  font-family: "New Amsterdam", sans-serif;
  font-weight:500;
  font-style: normal;
  font-size: 40px;
  color: orange;
  text-align: center;
}


.container {
  height: 450px !important;
  width:  400px !important;
  position: absolute;
  background-color: white;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-class{
  width: 150px!important;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
}
.container p , a{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #00000090;
  text-align: center;
}

.link-azul {
  color: blue;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.link-azul:hover {
  color: darkred;
}

.link-azul:focus {
  color: darkred;
  outline: none;
}


.todo p a {
  text-decoration: none;
}
