.todo{
  min-height: 100vh;
  width: 100%;
  background-image: url('../../../assets/fondo.jpg');
  background-position: center;
  background-size: cover;
}


.container{
  width: 30% !important;
  border-radius: 12px;
}
