<div class="todo">
  <!-- Contenedor del login -->
  <div class="login-container d-flex justify-content-center align-items-center">
    <form class="p-4 w-100" [formGroup]="formLogin">
      <!-- Logo centrado en la parte superior -->
      <div class="logo-container-center mb-4">
        <img src="https://i.pcmag.com/imagery/reviews/00f5bRMZER00ttT8JSd0jvO-28.fit_scale.size_1028x578.v1681233198.jpg" alt="Todoist Logo" class="logo" />
      </div>

      <!-- Título del formulario -->
      <div class="text-center mb-4">
        <h3 class="title">Iniciar Sesión</h3>
      </div>

      <!-- Campo Usuario con ícono -->
      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-icon matPrefix>account_circle</mat-icon>
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="validaUsername" [(ngModel)]="loginUsuario.login" />
          <mat-error *ngIf="formLogin.controls.validaUsername.touched && formLogin.controls.validaUsername.hasError('required')">
            Por favor ingresa tu usuario.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Campo Contraseña con ícono -->
      <div class="mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" formControlName="validaPassword" [(ngModel)]="loginUsuario.password" />
          <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formLogin.controls.validaPassword.touched && formLogin.controls.validaPassword.hasError('required')">
            Por favor ingresa tu contraseña.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="text-center">
        <button mat-raised-button color="primary" class="btn-ingresar" [disabled]="formLogin.invalid" (click)="onLogin()">Ingresar</button>
      </div>

      <div class="text-center mt-3">
        <p>No tienes cuenta? <a [routerLink]="['/RegistrarUser']" class="link-azul">Regístrate</a></p>
      </div>
    </form>
  </div>

  <!-- Pantalla de carga -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <p>Cargando...</p>
  </div>
</div>
