
.todo{
  min-height: 100vh;
  width: 100%;
  background-image: url('../../../assets/fondo.jpg');
  background-position: center;
  background-size: cover;
}

.boton_Registrar{
  width: 170px;
  height: 45px;
  font-size: 17px;
}


.container{
  width: 27% !important;
  border-radius: 32px;
 height: auto;
}

.container  h3{
  font-family: "New Amsterdam", sans-serif;
  font-weight:500;
  font-style: normal;
  font-size: 40px;
  color: orange;
  text-align: center;
}
.container p , a{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #00000090;
  text-align: center;
}

.container form{
  width: 68%;
}

.link-azul {
  color: blue;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.link-azul:hover {
  color: darkred;
}

.link-azul:focus {
  color: darkred;
  outline: none;
}


.todo p a {
  text-decoration: none;
}
