.todo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ff8a00, #e52e71);
  position: relative;
}


.boton_Registrar{
  width: 170px;
  height: 45px;
  font-size: 17px;
}


.container {
  background-color: #f9f9f9; /* Cambia el blanco puro (#ffffff) a uno que combine con el logo */
  width: 27% !important;
  border-radius: 32px;
  height: auto;
}

.container  h3{
  font-family: "New Amsterdam", sans-serif;
  font-weight:500;
  font-style: normal;
  font-size: 40px;
  color: orange;
  text-align: center;
}
.container p , a{
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #00000090;
  text-align: center;
}

.container form{
  width: 68%;
}

.link-azul {
  color: #1976d2;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-azul:hover {
  color: darkred;
}

.link-azul:focus {
  color: darkred;
  outline: none;
}


.todo p a {
  text-decoration: none;
}


.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Separación del título */
}

.logo-background {
  background-color: #ffffff; /* Asegura que sea el mismo color que el formulario */
  padding: 10px; /* Espaciado alrededor del logo */
  border-radius: 12px; /* Para integrarse con el diseño del formulario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra para mejorar visualización */
}

.logo {
  max-width: 150px; /* Ajusta el tamaño */
  height: auto;
  border-radius: 10px; /* Opcional: bordes redondeados */
}
