


<div class="todo d-flex justify-content-center align-items-center">

  <div class="container bg-white">
    <div class="d-flex justify-content-center">
      <form action=""  [formGroup]="formRegistrar">
        <div class="row m-3">
          <div class="col-md-12 ">
            <h3>Registro Usuario</h3>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <mat-label>Nombres:</mat-label>
           <input  matInput formControlName="validaNombres" [(ngModel)] ="usuario.nombres"
           minlength="2" (keypress)="onKeyPress($event,'nombres')">
           <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaNombres.touched">
            <span class="" *ngIf="formRegistrar.controls.validaNombres.hasError('required')">
              Ingrese Nombres
            </span>
            <span *ngIf="formRegistrar.controls.validaNombres.hasError('minlength')">
              Debe ingresar al menos 2 caracteres
            </span>
        </mat-hint>
        </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <mat-label>Apellidos:</mat-label>
           <input  matInput formControlName="validaApellidos" [(ngModel)] ="usuario.apellidos"
           minlength="2"(keypress)="onKeyPress($event,'apellidos')" >
           <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaApellidos.touched">
            <span class="" *ngIf="formRegistrar.controls.validaApellidos.hasError('required')">
              Ingrese Apellidos
            </span>
            <span *ngIf="formRegistrar.controls.validaApellidos.hasError('minlength')">
              Debe ingresar al menos 2 caracteres
            </span>
        </mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <mat-label>DNI:</mat-label>
         <input  matInput formControlName="validaDni"  [(ngModel)] ="usuario.dni"
         (keypress)="onKeyPress($event,'dni')"
         maxlength="8"
         minlength="8"  >
         <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaDni.touched">
          <span class="" *ngIf="formRegistrar.controls.validaDni.hasError('required')">
            Ingrese DNI
          </span>
          <span *ngIf="formRegistrar.controls.validaDni.hasError('minlength') || formRegistrar.controls.validaDni.hasError('maxlength')">
            El DNI debe tener exactamente 8 dígitos
          </span>
      </mat-hint>
      </mat-form-field>
      </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <mat-label>Nombre de Usuario</mat-label>
           <input  matInput formControlName="validaUserName"  [(ngModel)] ="usuario.login">
           <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaUserName.touched">
            <span class="" *ngIf="formRegistrar.controls.validaUserName.hasError('pattern')">
              Nombre de usuario debe contener entre 6 y 30
            </span>
            <span class="" *ngIf="formRegistrar.controls.validaUserName.hasError('required')">
              ingresar el nombre de usuario
            </span>
        </mat-hint>
        </mat-form-field>
        </div>
        <div class="row mt-2">
          <mat-form-field class="col-md-12">
            <!-- <mat-label>Contraseña</mat-label>
           <input  matInput formControlName="validacontrasena" [(ngModel)] ="usuario.password"> -->
           <mat-label>Ingrese su contraseña</mat-label>
           <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)] ="usuario.password" formControlName="validacontrasena" />
           <button
             mat-icon-button
             matSuffix
             (click)="clickEvent($event)"
             [attr.aria-label]="'Hide password'"
             [attr.aria-pressed]="hide()"
           >
             <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
           </button>
           <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validacontrasena.touched">
            <span class="" *ngIf="formRegistrar.controls.validacontrasena.hasError('pattern')">
               Minimo 8 caracteres con (1+%+A)
            </span>
            <span class="" *ngIf="formRegistrar.controls.validacontrasena.hasError('required')">
              ingresar la contraseña
            </span>
        </mat-hint>
        </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <mat-label>  Email
            </mat-label>
           <input  matInput formControlName="validaEmail"  [(ngModel)] ="usuario.email">
           <mat-hint style="color: red;" *ngIf="formRegistrar.controls.validaEmail.touched">
            <span class="" *ngIf="formRegistrar.controls.validaEmail.hasError('required')">
              ingresar Email
            </span>
            <span class="" *ngIf="formRegistrar.controls.validaEmail.hasError('pattern')">
              FORMATO INCORRECTO
            </span>
        </mat-hint>
        </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-12">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker"  [(ngModel)] ="usuario.fechaNacimiento" formControlName="validaFechaInicio" >
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
        <div class="row mt-2">
          <div class="col-12 text-center">
            <button mat-flat-button color="warn" class="boton_Registrar  rounded-pill" (click)="Registra()" [disabled]="formRegistrar.invalid">Registrar</button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <div class=" d-flex justify-content-end p-2">
              <p>Ya Tienes una Cuenta? <a [routerLink]="['/login']" > Inicia Sesión</a></p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>


